@{
    ViewData["Title"] = "Privacy Policy";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />*@
@{
    
    <link href="~/css/Subscription.css" rel="stylesheet" />
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title" style="color:#dadada">Standard</h3>
                    <div class="price-value background">
                        <img src="~/images/unnamed.jpg" />
                        <span class="month">per month</span>
                        <span class="amount">
                            <span class="currency">$</span>
                            10
                            <span class="value">99</span>
                        </span>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Monthly Bandwidth</li>
                        <li>10 Subdomains</li>
                        <li>15 Domains</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">sign up</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title" style="color: #cec140; text-shadow: 1px 1px 2px black, 0 0 1em #ffd800;">Business</h3>
                    <div class="price-value background">
                        <img src="~/images/unnamedGol.jpg" />

                        <span class="month">per month</span>
                        <span class="amount" style="color:#000000; text-shadow: 1px 1px 10px #ffd800, 0 0 6em #ffd800;">
                            <span class="currency">$</span>
                            20
                            <span class="value">99</span>
                        </span>
                    </div>
                    <ul class="pricing-content shadoGold">
                        <li>60GB Disk Space</li>
                        <li>60 Email Accounts</li>
                        <li>60GB Monthly Bandwidth</li>
                        <li>15 Subdomains</li>
                        <li>20 Domains</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">sign up</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <h3 class="title" style="color: #ffffff; text-shadow: 1px 1px 2px black, 0 0 2em #ffffff; ">Premium</h3>
                    <div class="price-value background">
                        <img src="~/images/unnamedPremium.jpg" />
                        <span class="month">per month</span>
                        <span class="amount" style="color: #ffffff; text-shadow: 1px 1px 2px black, 0 0 5em #ffffff;">
                            <span class="currency ">$</span>
                            30
                            <span class="value">99</span>
                        </span>
                    </div>
                    <ul class="pricing-content shadoPlatin">
                        <li>70GB Disk Space</li>
                        <li>70 Email Accounts</li>
                        <li>70GB Monthly Bandwidth</li>
                        <li>20 Subdomains</li>
                        <li>25 Domains</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">sign up</a>
                </div>
            </div>

        </div>
    </div>
}
