@model GameAndMods.Models.Users
@{Layout = null; }

<link rel="stylesheet" href="~/css/profile.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">


<body style="background-color: #343a40; ">
    <div class="main main-raised" style="padding-top: 100px;background-color: #454853;">

        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="~/images/Avatars/@Model.AvatarURL" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            @if (Model.AvatarURL != null)
                            {
                                <h3 class="title text-light text-center">@Model.Email</h3>
                            }
                            @if (Model.Position != null && Model.Position == "Admin")
                            {
                                <h6 class="text-light text-center">Админимтратор</h6>
                            }
                        </div>

                    </div>
                        <div class="d-flex flex-row ">
                            <a type="submit" class="btn btn-danger" href="~/Account/Logout">Выйти из аккаунта</a>
                            <a type="submit" class="btn btn-danger" href="~/Home/MAinMenu">Главное меню</a>
                            <a type="submit" class="btn btn-danger" href="~/Home/Catalog">Каталог</a>
                        </div>
                    </div>
                </div>
            <div>
                <div class="d-flex flex-column ">
                    <a type="submit" class="btn btn-danger" href="~/Home/Order"><i class="material-icons">layers</i>Посмотреть коллекцию<i class="material-icons">layers</i></a>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/profile.js" asp-append-version="true"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

