<footer class="border-top blockquote-footer text-dark ">
    <div class="container">
        <div class="row">
            <div class="col-3 text-light">
                <h5 class="">Контакные данные </h5>
                <br />
                <p>Телевон : 8 900-000-00-01</p>
                <p>Email : Присер почты</p>
                <p>Назване компании: Game and Mods</p>
            </div>
            <div class="col-9">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3ce99f460c846678ddd94a744c546de9ca7d9cec0c28c800411e35b76b47da5c&amp;source=constructor" width="752" height="495" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</footer>